@charset "UTF-8";
footer {
  background: #1b1b1b;
  padding: 40px 50px 30px;
  word-break: keep-all;
}
footer * {
  color: #fff;
}
footer .inner {
  width: 100%;
  max-width: 100%;
  position: relative;
}
footer .inner .personal {
  position: absolute;
  right: 0;
}
footer .inner .personal > li {
  display: inline-block;
  margin-left: 30px;
}
footer .inner .personal > li > a {
  color: #575757;
  font-size: 14px;
  font-weight: bold;
}
footer .inner .addr > h1 > a {
  display: block;
  width: 113px;
  height: 30px;
  background: url(../img/f_logo.png) no-repeat;
}
footer .inner .addr .address {
  padding-top: 30px;
  padding-bottom: 115px;
  color: #a2a2a2;
  font-size: 17px;
  line-height: 2;
}
footer .inner .bottom1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .inner .bottom1 .copyright {
  color: #414141;
  font-size: 14px;
  letter-spacing: 0;
}
footer .inner .bottom1 .link .sns {
  display: inline-block;
}
footer .inner .bottom1 .link .sns > li {
  display: inline-block;
}
footer .inner .bottom1 .link .sns > li > a {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: #1b1b1b;
  box-shadow: 1px 3px 5px 0px #000;
  margin-left: 15px;
}
footer .inner .bottom1 .link .sns > li:nth-of-type(1) > a {
  background: url(../img/footer_sns01.png) no-repeat center;
}
footer .inner .bottom1 .link .sns > li:nth-of-type(2) > a {
  background: url(../img/footer_sns02.png) no-repeat center;
}
footer .inner .bottom1 .link .sns > li:nth-of-type(3) > a {
  background: url(../img/footer_sns03.png) no-repeat center;
}
footer .inner .bottom1 .link > a {
  display: inline-block;
  width: 255px;
  vertical-align: top;
  color: #6f6f6f;
  padding-left: 100px;
  font-size: 14px;
  line-height: 70px;
  border-radius: 70px;
  background: url(../img/flag_store.png) no-repeat 5%;
  box-shadow: 1px 3px 5px 0px #000;
  margin-left: 60px;
}
footer .inner .bottom1 .link > a > strong {
  color: #b3b3b3;
  font-weight: bold;
}
footer .inner .bottom1 .link > a::after {
  content: "▶";
  color: #fff;
  font-size: 10px;
  float: right;
  position: relative;
  right: 40px;
}
footer .inner .bottom2 {
  display: none;
  justify-content: space-between;
  line-height: 70px;
  letter-spacing: 0;
  padding-top: 80px;
}
footer .inner .bottom2 .right {
  color: #767676;
  font-size: 12px;
}
footer .inner .bottom2 .right > span {
  color: #767676;
  padding-left: 25px;
  position: relative;
}
footer .inner .bottom2 .right > span::before {
  content: "";
  width: 1px;
  height: 4px;
  background: #767676;
  position: absolute;
  top: 7px;
  left: 12px;
}
footer .inner .bottom2 .copyright {
  color: #414141;
  font-size: 14px;
}