@charset "UTF-8";
#header {
  width: 100%;
  padding: 40px 80px;
  margin-top: 31px;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
}
#header::after {
  width: 100vw;
  height: 1px;
  background: #e7e7e7;
  position: absolute;
  left: 0;
  bottom: 0;
  clear: both;
}
#header.white {
  background: #fff;
}
#header.white::after {
  content: "";
}
#header.white .tnb {
  background: #fff;
}
#header h1 {
  float: left;
  height: 35px;
  position: relative;
  z-index: 3;
}
#header h1 > a span {
  display: none;
}
#header h1 > a .mobileLogo {
  display: none;
  width: 117px;
  height: 27px;
}
#header .gnbWrapWrap .gnbMobileDark {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
#header .gnbWrapWrap .gnbWrap {
  height: 0px;
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 20px 20px;
  text-align: center;
  box-shadow: 0px 2px 30px 2px rgba(0, 0, 0, 0.09);
}
#header .gnbWrapWrap .gnbWrap .mTnb {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
}
#header .gnbWrapWrap .gnbWrap .mTnb > li {
  display: inline-block;
}
#header .gnbWrapWrap .gnbWrap .mTnb > li > a {
  display: inline-block;
  font-size: 15px;
  padding: 10px 14px;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 30px;
}
#header .gnbWrapWrap .gnbWrap .mTnb > li > a > img {
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#header .gnbWrapWrap .gnbWrap .mTnb > li:first-child {
  margin-right: 10px;
}
#header .gnbWrapWrap .gnbWrap .gnb {
  display: inline-block;
  position: relative;
  top: 31px;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 {
  display: inline-block;
  padding-top: 45px;
  padding-right: 80px;
  position: relative;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 > a {
  display: block;
  position: relative;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 40px;
  transition: 0.5s;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 > a:hover {
  color: red;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 > a:hover::before {
  content: "";
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: -10px;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 > a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: red;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 {
  display: none;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 116px;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > li > a {
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  padding: 7px 0;
  word-break: keep-all;
  letter-spacing: 0;
  transition: 0.5s;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > li:hover > a {
  color: red;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 .depth03Ham {
  display: none;
  text-align: left;
  padding: 5px 0;
}
#header .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 .depth03Ham > li > a {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: rgba(52, 52, 52, 0.8);
}
#header .gnbWrapWrap .gnbWrap .mEnb {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20px 25px 38px;
  background: #fff;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li {
  display: inline-block;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child {
  float: left;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child .lang > li {
  display: inline-block;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child .lang > li > a {
  display: block;
  line-height: 26px;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child .lang > li:first-child {
  margin-right: 20px;
  position: relative;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child .lang > li:first-child::after {
  content: "";
  width: 1px;
  height: 12px;
  background: #e7e7e7;
  position: absolute;
  top: 8px;
  right: -11px;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:first-child .lang > li:last-child > a {
  color: rgba(173, 169, 169, 0.9803921569);
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:last-child {
  float: right;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li:last-child > a {
  display: block;
  color: rgba(52, 52, 52, 0.8);
  line-height: 26px;
}
#header .gnbWrapWrap .gnbWrap .mEnb > li::after {
  content: "";
  display: block;
  clear: both;
}
#header .enb {
  position: absolute;
  right: 80px;
  z-index: 10;
}
#header .enb > li {
  display: inline-block;
  line-height: 35px;
  width: 40px;
}
#header .enb > li:first-child {
  margin-right: 34px;
}
#header .enb > li > ul {
  font-weight: bold;
}
#header .enb > li > ul .choice {
  cursor: pointer;
}
#header .enb > li > ul .choice > img {
  position: relative;
  top: -3px;
  margin-left: 10px;
}
#header .enb > li > ul .language {
  width: 52px;
  height: 0;
  background: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
}
#header .enb > li > ul .language > li a {
  display: block;
  line-height: 30px;
}
#header .enb > li > ul .language.active {
  height: 90px;
  padding: 10px 0;
}
#header .enb > li:last-child {
  width: 26px;
}
#header .enb > li .hamburger {
  position: relative;
  top: 4px;
  cursor: pointer;
}
#header .enb > li .hamburger > div {
  height: 2px;
  background: #000;
  transition: 0.5s;
}
#header .enb > li .hamburger > div:nth-of-type(2) {
  margin: 8px 0;
}
#header .enb > li .hamburger.active > div:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#header .enb > li .hamburger.active > div:nth-of-type(2) {
  transform: rotate(45deg);
}
#header .enb > li .hamburger.active > div:nth-of-type(3) {
  transform: rotate(45deg);
  opacity: 0;
}
#header .tnb {
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
  text-align: right;
}
#header .tnb > ul > li {
  display: inline-block;
  position: relative;
}
#header .tnb > ul > li:first-child {
  margin-right: 20px;
}
#header .tnb > ul > li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #e7e7e7;
  position: absolute;
  top: 11px;
  right: -12px;
}
#header .tnb > ul > li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
}
#header .tnb > ul > li a img {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
#header.active {
  background: #fff;
}
#header.active::after {
  content: "";
}
#header.active .gnbWrapWrap .gnbWrap {
  -webkit-animation: height 0.5s forwards;
          animation: height 0.5s forwards;
}
@-webkit-keyframes height {
  from {
    height: 147px;
  }
  to {
    height: 575px;
  }
}
@keyframes height {
  from {
    height: 147px;
  }
  to {
    height: 575px;
  }
}
#header.active .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 {
  display: block;
  opacity: 0;
  -webkit-animation: opacity 0.5s 0.5s forwards;
          animation: opacity 0.5s 0.5s forwards;
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header.hamburgerGnb {
  background: transparent;
}
#header.hamburgerGnb::after {
  display: none;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap {
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 0;
  -webkit-animation: opacity 0.5s forwards;
          animation: opacity 0.5s forwards;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb {
  width: 1580px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 {
  vertical-align: top;
  width: 255px;
  max-width: 14vw;
  height: 460px;
  padding: 50px 30px;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  margin-right: 10px;
  box-sizing: border-box;
  transition: 0.5s;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 > a {
  pointer-events: none;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01:hover > a {
  color: red;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01:last-child {
  margin-right: 0;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 > a {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 > a::before {
  display: none;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 > a::after {
  display: none;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 {
  display: block;
  padding-top: 0;
  position: relative;
  top: 0;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > .depth03Ham {
  padding: 0;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > li {
  position: relative;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > li > a {
  padding: 3px 0;
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 > li:hover > a::after {
  content: "↑";
  color: red;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(3px) rotate(45deg);
}
#header.hamburgerGnb .gnbWrapWrap .gnbWrap .gnb .depth01 .depth02 .depth03Ham {
  display: block;
}
#header.hamburgerGnb .tnb {
  background: transparent;
}
#header.mobile .gnbWrapWrap .gnbMobileDark {
  display: block;
  opacity: 1;
  z-index: 5;
}
#header.mobile .gnbWrapWrap .gnbWrap {
  display: block;
  height: 100vh;
  top: 0;
  border-radius: 30px 0 0 0px;
  left: calc(100vw - 500px);
  z-index: 7;
  -webkit-animation: opacity 0.5s forwards;
          animation: opacity 0.5s forwards;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap {
  height: calc(100% - 149px);
  position: relative;
  top: 78px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb {
  width: 100%;
  top: 0px;
  padding: 11px 0 30px;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 {
  display: block;
  width: 100%;
  padding: 11px 20px 11px 38px;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 > a {
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  pointer-events: none;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 > a::after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: calc(100% - 20px + 10px);
  right: 0;
  background: url(../img/m_ham_menu_btn.png) no-repeat;
  background-size: contain;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 > a:hover {
  color: #000;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 > a:hover::before {
  display: none;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01 .depth02 {
  display: block;
  height: 0;
  padding: 0 20px 0 38px;
  position: relative;
  top: 11px;
  left: -38px;
  background: #e7e7e7;
  overflow: hidden;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive > a::after {
  transform: rotate(180deg);
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive .depth02 {
  height: auto;
  padding-top: 11px;
  padding-bottom: 11px;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive .depth02 > li {
  transition: 0.5s;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive .depth02 > li > a {
  display: inline-block;
  position: relative;
  color: rgba(52, 52, 52, 0.8);
  line-height: 1;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive .depth02 > li:hover > a {
  color: red;
}
#header.mobile .gnbWrapWrap .gnbWrap .mobileWrap .gnb .depth01.mobileActive .depth02 > li:hover > a::before {
  content: "";
  width: 3px;
  height: 3px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: -6px;
}
#header.mobile .gnbWrapWrap .gnbWrap .mEnb {
  display: block;
}
#header.mobile .gnbWrapWrap .gnbWrap .mTnb {
  display: block;
}
#header.mobile .enb > li:first-child {
  display: none;
}