.commonBaby {
  background: #000;
}

#header {
  width: 100%;
  padding: 40px 80px;
  margin-top: 31px;
  box-sizing: border-box;
  position: fixed;
}
#header::after {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  position: absolute;
  left: 0;
  bottom: 0;
  clear: both;
}
#header.white {
  background: #fff;
}
#header.white::after {
  content: "";
}
#header.white .tnb {
  background: #fff;
}
#header h1 {
  float: left;
  position: relative;
  z-index: 10;
}
#header h1 a span {
  display: none;
}
#header h1 a .mobileLogo {
  display: none;
  width: 117px;
  height: 27px;
}
#header .gnbWrap {
  height: 0px;
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
#header .gnbWrap .gnb {
  display: inline-block;
  position: relative;
  top: 28px;
}
#header .gnbWrap .gnb .depth01 {
  display: inline-block;
  padding-top: 45px;
  padding-right: 80px;
}
#header .gnbWrap .gnb .depth01 > a {
  display: block;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 40px;
  transition: 0.5s color;
}
#header .gnbWrap .gnb .depth01 > a:hover {
  color: red;
}
#header .gnbWrap .gnb .depth01 .depth02 {
  display: none;
  padding-top: 20px;
  position: absolute;
  top: 116px;
}
#header .gnbWrap .gnb .depth01 .depth02 > li > a {
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  padding: 7px 0;
  white-space: nowrap;
  transition: 0.5s;
}
#header .gnbWrap .gnb .depth01 .depth02 > li > a:hover {
  color: red;
}
#header .gnbWrap .gnb .depth01 .depth02 .depth03Ham {
  display: none;
}
#header .enb {
  position: absolute;
  right: 80px;
  z-index: 10;
}
#header .enb > li {
  display: inline-block;
  line-height: 36px;
  width: 40px;
}
#header .enb > li:first-child {
  margin-right: 34px;
}
#header .enb > li > ul {
  font-weight: bold;
}
#header .enb > li > ul .choice {
  cursor: pointer;
}
#header .enb > li > ul .choice > img {
  position: relative;
  top: -3px;
  margin-left: 10px;
}
#header .enb > li > ul .language {
  width: 52px;
  height: 0;
  background: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
}
#header .enb > li > ul .language > li a {
  display: block;
  line-height: 30px;
}
#header .enb > li > ul .language.active {
  height: 90px;
  padding: 10px 0;
}
#header .enb > li:last-child {
  width: 26px;
}
#header .enb > li .hamburger {
  position: relative;
  top: 4px;
  cursor: pointer;
}
#header .enb > li .hamburger > div {
  height: 2px;
  background: #000;
  transition: 0.5s;
}
#header .enb > li .hamburger > div:nth-of-type(2) {
  margin: 8px 0;
}
#header .enb > li .hamburger.active > div:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#header .enb > li .hamburger.active > div:nth-of-type(2) {
  transform: rotate(45deg);
}
#header .enb > li .hamburger.active > div:nth-of-type(3) {
  transform: rotate(45deg);
  opacity: 0;
}
#header .tnb {
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
  text-align: right;
}
#header .tnb > ul > li {
  display: inline-block;
  position: relative;
}
#header .tnb > ul > li:first-child {
  margin-right: 20px;
}
#header .tnb > ul > li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #e7e7e7;
  position: absolute;
  top: 11px;
  right: -12px;
}
#header .tnb > ul > li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
}
#header .tnb > ul > li a img {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
#header .mnb {
  display: none;
}
#header.active::after {
  content: "";
}
#header.active .gnbWrap .gnb .depth01 .depth02 {
  display: block;
}