#header {
  width: 100%;
  padding: 40px 80px;
  margin-top: 31px;
  box-sizing: border-box;
  position: relative;
}
#header h1 {
  display: inline-block;
}
#header h1 a span {
  display: none;
}
#header h1 a .mobileLogo {
  display: none;
  width: 117px;
  height: 27px;
}
#header .gnbWrap {
  width: 100%;
}
#header .gnb {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  font-size: 0;
}
#header .gnb .depth01 {
  display: inline-block;
  height: 75px;
  padding-top: 45px;
  padding-right: 80px;
  position: relative;
  transition: 0.5s;
}
#header .gnb .depth01:hover > a {
  color: red;
}
#header .gnb .depth01:hover > a::before {
  content: "";
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  top: 50px;
  right: 70px;
  border-radius: 50%;
}
#header .gnb .depth01:hover > a::after {
  content: "";
  width: calc(100% - 80px);
  height: 2px;
  background: red;
  position: absolute;
  left: 0;
  bottom: 3px;
}
#header .gnb .depth01 a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 40px;
  transition: 0.5s;
}
#header .gnb .depth01 .depth02 {
  display: none;
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 116px;
}
#header .gnb .depth01 .depth02 li a {
  width: 100%;
  padding: 7px 0;
  word-break: keep-all;
  transition: 0.5s;
}
#header .gnb .depth01 .depth02 li a:hover {
  color: red;
}
#header .gnb .depth03 {
  display: none;
  padding-top: 15px;
}
#header .gnb .depth03 li a {
  color: #343434;
  font-size: 15px;
}
#header .enb {
  display: none;
  font-size: 0;
  float: right;
}
#header .enb li {
  display: inline-block;
  font-size: 16px;
}
#header .enb li .depth01 {
  font-weight: bold;
  line-height: 30px;
  position: relative;
}
#header .enb li .depth01 .choice {
  cursor: pointer;
  line-height: 30px;
}
#header .enb li .depth01 .choice img {
  margin-left: 10px;
  position: relative;
  top: -3px;
}
#header .enb li .depth01 .depth02 {
  display: none;
}
#header .enb li:last-child {
  margin-left: 35px;
}
#header .enb li .hamburger {
  font-size: 0;
  overflow: hidden;
  cursor: pointer;
}
#header .enb li .hamburger div {
  width: 26px;
  height: 2px;
  background: #000;
  margin: 6.5px 0;
}
#header .enb li .hamburger div:nth-of-type(2) {
  margin: 8px 0;
}
#header .tnb {
  width: 100%;
  position: absolute;
  top: -31px;
  left: 0;
}
#header .tnb ul {
  float: right;
  margin-right: 80px;
  font-size: 0;
}
#header .tnb ul li {
  display: inline-block;
  position: relative;
}
#header .tnb ul li:first-child {
  margin-right: 20px;
}
#header .tnb ul li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #e7e7e7;
  position: absolute;
  top: 10px;
  right: -10px;
}
#header .tnb ul li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
}
#header .tnb ul li a img {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
#header .tnb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  clear: both;
}
#header .mnb {
  display: none;
}
#header.active {
  background: #fff;
  border-radius: 0 0 20px 20px;
}
#header.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  position: absolute;
  bottom: 0;
}
#header.active .gnb .depth02 {
  display: block;
}
#header.active .tnb {
  background: #fff;
}

@media screen and (max-width: 1700px) {
  #header {
    padding: 40px 20px;
  }
  #header .gnb .depth01 {
    padding-right: 50px;
  }
  #header .gnb .depth01 a {
    font-size: 16px;
  }
}