html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  min-height: 3000px;
  background-color: green;
}
body *::-moz-selection {
  color: white;
  background: black;
}
body *::selection {
  color: white;
  background: black;
}

.inner {
  width: 95%;
  max-width: 1310px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

#header {
  width: 100%;
  padding: 40px 80px;
  margin-top: 31px;
  box-sizing: border-box;
  position: relative;
}
#header h1 {
  display: inline-block;
}
#header h1 a span {
  display: none;
}
#header h1 a .mobileLogo {
  display: none;
  width: 117px;
  height: 27px;
}
#header .gnb {
  display: inline-block;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
#header .gnb .depth01 {
  display: inline-block;
  padding-top: 45px;
  padding-right: 80px;
  position: relative;
  transition: 0.5s;
}
#header .gnb .depth01:hover .depth02 {
  display: block;
}
#header .gnb .depth01 a {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 40px;
  transition: 0.5s;
}
#header .gnb .depth01 .depth02 {
  display: none;
  position: absolute;
  top: 136px;
}
#header .gnb .depth03 {
  padding-top: 15px;
}
#header .gnb .depth03 li {
  display: none;
}
#header .gnb .depth03 li a {
  color: #343434;
  font-size: 15px;
}
#header .enb {
  font-size: 0;
  float: right;
}
#header .enb li {
  display: inline-block;
  font-size: 16px;
}
#header .enb li .depth01 {
  font-weight: bold;
  line-height: 30px;
  position: relative;
}
#header .enb li .depth01 .choice {
  cursor: pointer;
  line-height: 30px;
}
#header .enb li .depth01 .choice img {
  margin-left: 10px;
  position: relative;
  top: -3px;
}
#header .enb li .depth01 .depth02 {
  display: none;
}
#header .enb li:last-child {
  margin-left: 35px;
}
#header .enb li .hamburger {
  font-size: 0;
  overflow: hidden;
  cursor: pointer;
}
#header .enb li .hamburger div {
  width: 26px;
  height: 2px;
  background: #000;
  margin: 6.5px 0;
}
#header .enb li .hamburger div:nth-of-type(2) {
  margin: 8px 0;
}
#header .tnb {
  width: 100%;
  position: absolute;
  top: -31px;
  left: 0;
}
#header .tnb ul {
  float: right;
  margin-right: 80px;
  font-size: 0;
}
#header .tnb ul li {
  display: inline-block;
  position: relative;
}
#header .tnb ul li:first-child {
  margin-right: 20px;
}
#header .tnb ul li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #e7e7e7;
  position: absolute;
  top: 10px;
  right: -10px;
}
#header .tnb ul li a {
  display: block;
  font-size: 14px;
  line-height: 30px;
}
#header .tnb ul li a img {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
#header .tnb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  clear: both;
}
#header .mnb {
  display: none;
}
@media screen and (max-width: 1700px) {
  #header {
    padding: 40px 20px;
  }
  #header .gnb .depth01 {
    padding-right: 50px;
  }
  #header .gnb .depth01 a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  #header {
    position: relative;
  }
  #header h1 a .pcLogo {
    display: none;
  }
  #header h1 a .mobileLogo {
    display: block;
  }
  #header .tnb ul li:first-child::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #header {
    padding: 22px 20px;
    margin-top: 0;
  }
}

/*
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1023px) {    
}
*/
/*
@media screen and (min-width: 1025px) {    
}
*/
main {
  display: none;
}

aside {
  display: none;
  position: absolute;
  letter-spacing: 0;
}
aside span {
  position: fixed;
  bottom: 80px;
  right: 10px;
}
aside span a {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
aside span a:first-child {
  color: black;
  background: white;
  box-shadow: 1px 1px 1px;
}
aside span a:last-child {
  color: white;
  background: black;
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}

footer {
  display: none;
}