html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  overflow-x: hidden;
  min-height: 3000px;
  background-color: green;
}
body *::-moz-selection {
  color: white;
  background: black;
}
body *::selection {
  color: white;
  background: black;
}
body.hamburger {
  overflow-y: hidden;
  margin-right: 17px;
}

.inner {
  width: 95%;
  max-width: 1310px;
  margin: 0 auto;
}

ul {
  font-size: 0;
}

li {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

.hideText {
  display: none;
}

.commonBaby {
  background: #000;
}

#header {
  width: 100%;
  padding: 40px 80px;
  margin-top: 31px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
#header h1 {
  display: inline-block;
  position: relative;
}
#header h1 a span {
  display: none;
}
#header h1 a .mobileLogo {
  display: none;
  width: 117px;
  height: 27px;
}
#header .gnbWrap {
  width: 100vw;
  height: 0px;
  background: #fff;
  border-radius: 0 0 20px 20px;
}
#header .gnbWrap .gnb .depth01 {
  display: inline-block;
  padding-top: 45px;
  padding-right: 80px;
}
#header .gnbWrap .gnb .depth01 > a {
  padding-bottom: 40px;
}
#header .gnbWrap .gnb .depth01 .depth02 {
  display: none;
}
#header .tnb {
  height: 30px;
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  border: 2px solid red;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
  text-align: right;
}
#header .tnb > ul > li {
  display: inline-block;
  position: relative;
}
#header .tnb > ul > li:first-child {
  margin-right: 21px;
}
#header .tnb > ul > li a::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/link_arrow02.png) no-repeat;
}
#header .mnb {
  display: none;
}

/*
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1023px) {    
}
*/
/*
@media screen and (min-width: 1025px) {    
}
*/
main {
  display: none;
}

aside {
  display: none;
  position: absolute;
  letter-spacing: 0;
}
aside span {
  position: fixed;
  bottom: 80px;
  right: 10px;
}
aside span a {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
aside span a:first-child {
  color: black;
  background: white;
  box-shadow: 1px 1px 1px;
}
aside span a:last-child {
  color: white;
  background: black;
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}

footer {
  display: none;
}