aside {
    position: fixed;
    right: 20px;
    bottom: 60px;
    letter-spacing: 0;
    z-index: 10;

    span {
        position: absolute;
        bottom: 0px;
        right: 10px;

        a {
            display: block;
            width: 55px;
            height: 55px;
            margin-bottom: 5px;
            font-size: 14px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            position: relative;
            z-index: 5;

            &:first-child {
                color: black;
                background: white;
                box-shadow: 1px 1px 1px;
            }

            &:last-child {
                    color: white;
                    background: black;
                    font-size: 22px;
            }
        }
    }

    @media screen and (max-width:1024px) {
        display: none;
    }
}