// .inner {
//     width: 95%;
//     margin: 0 auto;
// }

body {
    letter-spacing: -2px;
    min-height: 3000px;
    background-color: green;
    cursor: url(../img/ico_favicon.ico) 0 0,auto;

    *::selection {
        color: white;
        background: black;
    }
}

a {
    color: black;
    text-decoration: none;
}