body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;

    min-height: 3000px;
    background-color: green;

    *::selection {
        color: white;
        background: black; 
    }

    &.hamburger {
        overflow-y: hidden;
    }
}

.inner {
    width: 95%;
    max-width: 1310px;
    margin: 0 auto;
}

ul {
	font-size: 0;
}

li {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.hideText {
    display: none;
}