#main .contBox {
  margin-bottom: 120px;
}
#main .contBox .cont {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  padding: 25px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#main .contBox .cont .imgBox {
  max-width: 558px;
  width: 80%;
}
#main .contBox .cont .imgBox > img {
  width: 100%;
}
#main .contBox .cont .txtBox {
  width: 100%;
  padding: 5%;
}
#main .contBox .cont .txtBox .boxTitle {
  max-width: 330px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 45px;
  letter-spacing: 0;
  box-sizing: border-box;
  line-height: 36px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1) inset;
}
#main .contBox .cont .txtBox .boxTitle > span {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  color: #fff;
  background: #f00;
  border-radius: 36px;
  margin-right: 10px;
}
#main .contBox .cont .txtBox > h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0 16px;
}
#main .contBox .cont .txtBox > p {
  letter-spacing: 0.5;
  line-height: 1.8;
}
#main .last {
  max-width: 942px;
  height: 120px;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 83px;
  background-color: #f9f9f9;
  border-radius: 20px;
  position: relative;
}
#main .last > p {
  width: 75%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 32px;
}
#main .last > p > img {
  display: inline-block;
  width: 104px;
  height: 24px;
  position: relative;
  top: 2px;
  padding-right: 5px;
}
#main .last::after {
  content: "";
  max-width: 114px;
  width: 10%;
  height: 100%;
  background: url(../../../img/sec02_img.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -25%;
  right: 10%;
  transform: translate(-50%);
}
@media screen and (max-width: 1024px) {
  #main .contBox .cont .txtBox {
    padding: 2%;
  }
  #main .contBox .cont .txtBox > h3 {
    font-size: 24px;
    margin: 24px 0 16px;
  }
  #main .contBox .cont .txtBox > p {
    font-size: 14px;
    word-break: keep-all;
  }
}
@media screen and (max-width: 1024px) {
  #main .contBox .cont .txtBox .boxTitle {
    font-size: 12px;
  }
  #main .contBox .cont .txtBox .boxTitle > span {
    font-size: 12px;
  }
  #main .contBox .cont .txtBox > h3 {
    font-size: 18px;
    margin: 17px 0 16px;
  }
  #main .contBox .cont .txtBox > p {
    font-size: 14px;
    word-break: keep-all;
  }
  #main .last > p {
    font-size: 18px;
    word-break: keep-all;
  }
  #main .last > p > img {
    width: 78px;
    height: 20px;
  }
  #main .last::after {
    top: -5%;
  }
}
@media screen and (max-width: 768px) {
  #main .contBox .cont {
    display: block;
  }
  #main .contBox .cont .imgBox {
    display: block;
    margin: 0 auto;
  }
  #main .contBox .cont .txtBox {
    display: block;
  }
  #main .contBox .cont .txtBox > p > br {
    display: none;
  }
  #main .last {
    padding: 0 40px;
  }
  #main .last > p {
    font-size: 16px;
  }
  #main .last::after {
    top: 20%;
    right: 5%;
  }
}
@media screen and (max-width: 487px) {
  #main .last {
    padding: 0 20px;
  }
  #main .last > p {
    font-size: 14px;
  }
}